body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

.script-node {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 5px;
}

.script-node-input {
  min-width: 300px;
}

.csv-element {
  position: relative;
  color: #8a3e07;
  background-color: #ffe8cc;
  font-size: inherit;
  font-family: monospace;
  padding: 0.2em 0.4em;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10px;
}

/* set a muted text */
.csv-comma {
  color: #ffc107;
}

.csv-div {
  width: 290px;
  max-height: 250px;
  overflow-y: auto;
}

.csv-input {
  width: 290px;
  height: 150px;
}
