.text-fields-node {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
    min-width: 200px;
  }

  .small-standard-font {
    font-size: 10pt;
    font-family: -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  }

  .status-icon {
    display: inline-block;
    font-size: 14pt;
    margin: 0px 0px 0px 4px;
    padding: 0px;
  }
  .status-icon .status-tooltip {
    visibility: hidden;
    font-size: 10pt;
    font-family: -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    width: 150px;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  .status-icon:hover .status-tooltip {
    visibility: visible;
  }
  .warning-status {
    color: #CC7722;
  }
  .warning-status .status-tooltip {
    background-color: #CC7722;
  }
  .ready-status {
    color: #4CBB17;
  }
  .ready-status .status-tooltip {
    background-color: #4CBB17;
  }
  .error-status {
    color: #E52A2A;
  }
  .error-status .status-tooltip {
    background-color: #E52A2A;
  }

  /* Loading icon */ 
  .lds-ring {
    display: inline-block;
    position: relative;
    margin-left: 4px;
    width: 18px;
    height: 18px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    margin: 2px;
    border: 2px solid #0096FF;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #0096FF transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .input-field {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  .input-field textarea {
    font-family: monospace;
  }

  .remove-text-field-btn {
    margin-left: 3px;
    padding: 2px 4px;
    border-style: none;
    background-color: inherit;
    color: #bbb;
    font-weight: bold;
    cursor: pointer;
  }
  .remove-text-field-btn:hover {
    color: #666;
    background-color: #eee;
  }
  
  .input-field input {
    margin-left: 5px;
  }
  
  .node-header {
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: dashed;
    margin-bottom: 12px;
    padding-bottom: 4px;
  }

  .prompt-node {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    width: 290px;
  }
  
  .prompt-node textarea {
    width: 100%;
    resize: none;
    box-sizing: border-box;
  }

  .evaluator-node {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    min-width: 280px;
  }

  .ace-editor-container {
    resize:vertical;
  }

  .vis-node {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
  }
  .plotly-vis {
    width: 100%;
    height: 100%;
    resize: both;
    overflow: auto;
  }
  .plot-legend {
    font-size: 11px;
    font-family: monospace;
  }
  .plot-legend-item {
    cursor: pointer;
  }
  .plot-legend-item:hover {
    opacity: 0.6;
  }
  .plot-legend-item:active {
    opacity: 0.8;
  }

  .inspector-node {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
  }
  .inspect-multiselect {
    margin-bottom: 6px;
  }
  .inspect-response-container {
    overflow-y: scroll;
    min-width: 150px;
    width: 280px;
    min-height: 200px;
    height: 200px;
    max-width: 650px;
    max-height: 650px;
    resize: both;
  }
  .response-var-header {
    background-color: #e0f4fa;
    border-radius: 1px;
    padding: 2px 8px 4px 8px;
    line-height: 9pt;
  }
  .response-var-inline-container {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content: left;
    /* font-style: italic; */
    padding-bottom: 1px;
  }
  .response-llm-header {
    font-family: -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 9pt;
    font-weight: 500;
    padding: 4px 4px 4px 7px;
    border-top-left-radius: 5px;
    border-top-right-radius: 15px;
  }
  .response-var-inline {
    margin: 0px 4px;
    background-color: #ffffff44;
    color: #00000088;
    border-radius: 4px;
    mix-blend-mode: color-burn;
    padding: 0px 4px;
  }
  .response-var-inline > .response-var-name {
    font-size: 8pt;
    font-weight: normal;
  }
  .response-var-inline > .response-var-value {
    font-size: 8pt;
  }
  .response-var-name {
    font-size: 9pt;
    font-weight: bold;
  }
  .response-var-value {
    font-family: monospace;
    font-size: 9pt;
  }
  .inspect-modal-prompt-box {
    background-color: #eee;
    padding: 10px;
    margin: 0px 0px 10px 0px;
    border-bottom-style: solid;
    border-bottom-color: #aaa;
    box-shadow: 1px 1px 8px #ccc;
    max-height: 200px;
  }
  .inspect-modal-prompt-text {
    font-family: monospace;
    font-size: 11pt;
    white-space: pre-line;
  }
  .inspect-modal-prompt-prefix {
    font-size: 10pt;
    font-weight: bold;
  }

  .small-response {
    font-size: 8pt;
    font-family: monospace;
    border-style: dotted;
    border-color: #fff;
    padding: 2px;
    margin: 2px 1px;
    background-color: rgba(255, 255, 255, 0.4);
    white-space: pre-wrap;
  }
  .small-response-metrics {
    font-size: 8pt;
    font-family: -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0px 2px 1px 0px;
    margin: 0px 20px 8px 20px;
    background-color: rgba(255, 255, 255, 0.6);
    color: #333;
  }

  .llm-response-container {
    max-width: 100%;
  }
  .llm-response-container h1 {
    font-weight: 400;
    font-size: 10pt;
    margin: 6px 8px 0px 8px;
    padding-top: 2px;
    padding-bottom: 0px;
    color: #222;
  }

  .llm-group-header {
    font-weight: 400;
    font-size: 10pt;
    margin: 6px 8px 4px 8px;
    padding-top: 2px;
    padding-bottom: 0px;
    color: #222;
  }

  .response-group {
    margin: 2px 0px 8px 0px;
    padding: 2px 2px 2px 2px;
    /* border-radius: 7px; */
  }
  .response-boxes-wrapper {
    margin-top: 4px;
    padding-left: 10px;
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #bbb;
  }
  .response-item-llm-name-wrapper {
    padding-bottom: 0px;
  }
  .response-item-llm-name-wrapper h1 {
    font-size: 8pt;
    font-weight: bold;
    font-style: italic;
    mix-blend-mode: color-burn;
    color: #000000bb;
    background-color: #ffffff44;
    opacity: 0.7;
    text-align: right;
    padding-right: 4px;
    margin: 0px;
  }

  .response-preview-container {
    margin: 10px -9px -9px -9px;
    max-height: 100px;
    overflow-y: auto;
    background-color: #ceeaf5b1;
    cursor: zoom-in;
  }
  .response-box {
    padding: 2px;
    margin: 0px 2px 4px 2px;
    border-radius: 5px;
  }
  .response-tag {
    font-size: 9pt;
    color: #555;
    margin: 0px 0px 0px 2px;
  }

  .cfnode {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    /* box-shadow: 1px 1px 8px #ccc; Slows it down */
  }
  .cfnode:hover {
    border-color: #222;
  }

  .tabular-data-node {
    min-width: 280px;
  }
  .tabular-data-container {
    resize: both;
    overflow: auto;
    max-width: 800px;
    min-width: inherit;
    max-height: 700px;
    border-bottom-style: solid;
    border-right-style: solid;
    border-color: #ccc;
    display: inline-block;
  }
  .tabular-data-container td {
    white-space: nowrap;
    width: min-content;
  }
  .tabular-data-container th {
    white-space: nowrap;
    width: min-content;
  }
  .editable-table {
    table-layout: auto;
    width: 100%;
  }
  .table-col-edit-btn {
    position: relative;
    top: 1px;
    margin: 0px;
    padding: 2px;
    color: #888;
    width: '12px';
    height: '12px';
    cursor: pointer;
  }
  .table-col-edit-btn:hover {
    background-color: #eee;
  }
  .table-col-edit-btn:active {
    background-color: #ddd;
  }
  .add-table-row-btn {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2px;
  }
  .add-table-row-btn button {
    margin-right: 10px;
  }
  /* .add-column-btn {
    position: relative;
    float: right;
    margin-top: 6px;
    height: 80px; 
    width: 20px;
  }
  .add-column-btn span {
    position: absolute;
    top: 60%;
    transform-origin: top left;
    transform: translate(-50%) rotate(-90deg);
  } */
  
  .var-select-toolbar {
    text-align: right;
    margin: 0px;
    padding: 0px;
    position: relative;
    margin-bottom: -30px;
  }
  .var-select-toolbar label {
    font-size: 12px;
  }
  .var-select-toolbar select {
    width:100px;
    font-size: 12px;
  }

  .code-style {
    background-color: #ddd;
    font-family: 'Courier New', Courier, monospace;
  }

  .hook-tag {
    padding-top: 5px;;
    padding-bottom: 3px;
  }

  .code-mirror-field-header {
    font-size: 10pt;
    color: #333;
    margin-bottom: 4px;
  }

  /* Allows resizing the Mantine Textarea component */
  .text-field-fixed .mantine-Textarea-wrapper textarea {
    resize: vertical;
    overflow-y: auto;
    width: 280px;
    padding: calc(0.5rem / 3);
    font-size: 10pt;
    font-family: monospace;
    line-height: 1.2;
    border-color: #999;
  }

  .add-text-field-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .add-llm-model-btn {
    display: flex;
    align-items: right;
    justify-content: right;
    float: right;
    height: 20px;
  }
  .add-llm-model-btn button {
    border-style: solid;
    border-color: #777;
    border-width: 1pt;
    border-radius: 3px;
    color: #777;
    margin-right: 2px;
  }
  .add-llm-model-btn:hover button {
    background-color: white;
  }
  .add-llm-model-btn:active button {
    background-color: black;
    color: white;
  }

/* Play button triangle |> */
.play-button {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 10px;
  margin: 2px;
  pointer-events: none;
  border-color: transparent transparent transparent #202020;
  border-style: solid;
  border-width: 5px 0 5px 10px;
}

/** CSS Button style from https://css-buttons-hover.netlify.app/ */
.AmitSahoo45-button-3 {
  position: relative;
  padding: 2px 10px;
  margin-top: -5px;
  margin-right: 3px;
  border-radius: 5px;
  border: 1px solid #999;
  font-size: 12px;
  background: transparent;
  color: #333;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.AmitSahoo45-button-3:hover {
  background: rgb(26, 200, 69);
  color: white;
  box-shadow: 0 0 30px 5px rgb(63, 234, 106, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.AmitSahoo45-button-3:active {
  background: #40a829;
  color: yellow;
}

.AmitSahoo45-button-3:hover::before {
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}

.AmitSahoo45-button-3::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

.script-node-input {
  width: 100%;
}

.node-header-btns-container {
  float: right;
  margin-right: 0px;
  margin-left: 10px;
  margin-top: -3px;
}

/* Close button */
.close-button {
  position: relative;
  padding: 2px 6px;
  margin-top: -7px;
  border-radius: 5px;
  border: 1px solid #999;
  font-size: 12px;
  background: transparent;
  color: #333;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.close-button:hover {
  background: rgb(200 , 26, 69);
  color: white;
  box-shadow: 0 0 30px 5px rgb(234, 63, 106, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.close-button:active {
  background: #660000;
  color: yellow;
}
.close-button:hover::before {
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}
.close-button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  color: black;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

/* Custom button styling */
.custom-button {
  position: relative;
  text-decoration: none;
  padding: 2px 6px;
  margin-top: -7px;
  margin-right: 3px;
  border-radius: 5px;
  border: 1px solid #999;
  font-size: 12px;
  background: transparent;
  color: #333;
  overflow: hidden;
  box-shadow: 0 0 0 0 transparent;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  cursor: pointer;
}
.custom-button:hover {
  background: rgb(241, 208, 44);
  color: white;
  box-shadow: 0 0 30px 5px rgba(255, 222, 35, 0.815);
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.custom-button:active {
  background: #a36a07;
  color: rgb(51, 10, 6);
}
.custom-button:hover::before {
  -moz-animation: sh02 0.5s 0s linear;
  animation: sh02 0.5s 0s linear;
}
.custom-button::before {
  content: '';
  display: block;
  width: 0px;
  height: 86%;
  position: absolute;
  top: 7%;
  left: 0%;
  opacity: 0;
  color: black;
  background: #fff;
  box-shadow: 0 0 50px 30px #fff;
  -webkit-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  -ms-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  transform: skewX(-20deg);
}

/* Make text blink */
.text-blink {
    animation: blinker .75s linear infinite;
    font-family: sans-serif;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}

/* Model settings form styling */
.rjsf fieldset {
  border-style: none;
  margin-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
.rjsf fieldset .field-array {
  margin: 0;
  padding: 0;
}
.rjsf label.control-label {
  font-weight: bold;
  font-size: 11pt;
}
.rjsf .field-array legend {
  font-weight: bold;
  font-size: 11pt;
}


.rjsf input {
  width: 100%;
  resize: none;
}
.rjsf select {
  width: 100%;
}
.rjsf textarea {
  width: 100%;
  resize: vertical;
}

.rjsf .field-description {
  color: #444;
  margin-top: 8px;
}

.rjsf fieldset .form-group {
  margin-bottom: 30px;
  padding-top: 6px;
  font-size: 9pt;
  border-top-style: solid;
  border-top-color: #ddd;
}

.rjsf button.btn {
  float: right;
  margin-right: 30px;
}
.rjsf button.btn-add {
  width: 20px;
  height: 20px;
  background: #40a829;
}
.rjsf button.btn-danger {
  background: #660000;
}

.rjsf .help-block {
  color: #999;
  margin: 0;
}