.text-fields-node {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
  }
  
  .input-field {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .input-field input {
    margin-left: 5px;
  }
  
  .node-header {
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: dashed;
    margin-bottom: 12px;
  }

  .prompt-node {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
  }
  
  .prompt-node textarea {
    width: 100%;
    resize: none;
    box-sizing: border-box;
  }

  .evaluator-node {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
  }

  .vis-node {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
  }

  .code-style {
    background-color: #ddd;
    font-family: 'Courier New', Courier, monospace;
  }

  .code-mirror-field-header {
    font-size: 10pt;
    color: #333;
    margin-bottom: 4px;
  }


  /** CSS Button style from https://css-buttons-hover.netlify.app/ */
  .AmitSahoo45-button-3 {
    position: relative;
    padding: 2px 10px;
    margin-top: -5px;
    border-radius: 7px;
    border: 1px solid #999;
    font-size: 14px;
    /* text-transform: uppercase; */
    /* font-weight: 600; */
    /* letter-spacing: 2px; */
    background: transparent;
    color: #333;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    float:right;
    cursor: pointer;
}

.AmitSahoo45-button-3:hover {
    background: rgb(26, 200, 69);
    box-shadow: 0 0 30px 5px rgb(63, 234, 106, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.AmitSahoo45-button-3:hover::before {
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.AmitSahoo45-button-3::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

/* Play button triangle |> */
.play-button {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 10px;
    margin: 2px;
    pointer-events: none;
  
    border-color: transparent transparent transparent #202020;
    /* transition: 100ms all ease; */
    /* cursor: pointer; */
  
    border-style: solid;
    border-width: 5px 0 5px 10px;
}

/* Make text blink */
.text-blink {
    animation: blinker .75s linear infinite;
    font-family: sans-serif;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}