.text-fields-node {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 5px;
  }

  .status-icon {
    display: inline-block;
    font-size: 14pt;
    margin: 0px 0px 0px 4px;
    padding: 0px;
  }
  .status-icon .status-tooltip {
    visibility: hidden;
    font-size: 10pt;
    font-family: -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    width: 150px;
    color: #fff;
    text-align: left;
    border-radius: 6px;
    padding: 5px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  .status-icon:hover .status-tooltip {
    visibility: visible;
  }
  .warning-status {
    color: #CC7722;
  }
  .warning-status .status-tooltip {
    background-color: #CC7722;
  }
  .ready-status {
    color: #4CBB17;
  }
  .ready-status .status-tooltip {
    background-color: #4CBB17;
  }
  .error-status {
    color: #E52A2A;
  }
  .error-status .status-tooltip {
    background-color: #E52A2A;
  }

  /* Loading icon */ 
  .lds-ring {
    display: inline-block;
    position: relative;
    margin-left: 4px;
    width: 18px;
    height: 18px;
  }
  .lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    margin: 2px;
    border: 2px solid #0096FF;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #0096FF transparent transparent transparent;
  }
  .lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
  }
  .lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
  }
  .lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
  }
  @keyframes lds-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .input-field {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .input-field input {
    margin-left: 5px;
  }
  
  .node-header {
    border-bottom: 1px;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-style: dashed;
    margin-bottom: 12px;
  }

  .prompt-node {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
  }
  
  .prompt-node textarea {
    width: 100%;
    resize: none;
    box-sizing: border-box;
  }

  .evaluator-node {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
  }

  .vis-node {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
  }

  .inspector-node {
    background-color: #fff;
    padding: 10px;
    border: 1px solid #999;
    border-radius: 5px;
    overflow-y: auto;
    max-height: 400px;
  }

  .small-response {
    font-size: 8pt;
    font-family: monospace;
    border-style: dotted;
    border-color: #aaa;
    padding: 2px;
    margin: 0px;
    background-color: #fff;
    white-space: pre-wrap;
  }

  .llm-response-container {
    max-width: 450px;
    background-color: #fff;
  }
  .llm-response-container h1 {
    font-size: 10pt;
    font-weight: bold;
    margin: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    color: #222;
  }
  .response-preview-container {
    max-height: 180px;
    overflow-y: auto;
  }
  .response-box {
    padding: 2px;
    margin: 0px 2px 4px 2px;
  }
  .response-tag {
    font-size: 9pt;
    color: #555;
    font-weight: 700;
    margin: 0px 0px 0px 2px;
  }

  .var-select-toolbar {
    text-align: right;
    margin: 0px;
    padding: 0px;
    position: relative;
    margin-bottom: -30px;
  }
  .var-select-toolbar label {
    font-size: 12px;
  }
  .var-select-toolbar select {
    width:100px;
    font-size: 12px;
  }

  .code-style {
    background-color: #ddd;
    font-family: 'Courier New', Courier, monospace;
  }

  .code-mirror-field-header {
    font-size: 10pt;
    color: #333;
    margin-bottom: 4px;
  }

  .text-field-fixed {
    resize: vertical;
  }

  .add-text-field-btn {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  /** CSS Button style from https://css-buttons-hover.netlify.app/ */
  .AmitSahoo45-button-3 {
    position: relative;
    padding: 2px 10px;
    margin-top: -5px;
    border-radius: 7px;
    border: 1px solid #999;
    font-size: 14px;
    /* text-transform: uppercase; */
    /* font-weight: 600; */
    /* letter-spacing: 2px; */
    background: transparent;
    color: #333;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    float:right;
    cursor: pointer;
}

.AmitSahoo45-button-3:hover {
    background: rgb(26, 200, 69);
    box-shadow: 0 0 30px 5px rgb(63, 234, 106, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.AmitSahoo45-button-3:hover::before {
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.AmitSahoo45-button-3::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

/* Play button triangle |> */
.play-button {
    border: 0;
    background: transparent;
    box-sizing: border-box;
    width: 0;
    height: 10px;
    margin: 2px;
    pointer-events: none;
  
    border-color: transparent transparent transparent #202020;
    /* transition: 100ms all ease; */
    /* cursor: pointer; */
  
    border-style: solid;
    border-width: 5px 0 5px 10px;
}

/* Make text blink */
.text-blink {
    animation: blinker .75s linear infinite;
    font-family: sans-serif;
}
@keyframes blinker {
    50% {
        opacity: 0;
    }
}